<div *ngIf="id === 1">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, dolorum repellat qui dignissimos excepturi, temporibus similique, eum tempora perferendis numquam <span class="highlightText">saepe facere</span> ex! Assumenda voluptas commodi voluptatibus atque tempore fuga maxime error soluta vel quaerat, magni aspernatur nesciunt fugit optio consequatur unde possimus nulla blanditiis vero. Ullam facilis eum recusandae.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur maxime eos vitae animi nam. Numquam dicta nisi, beatae, illum voluptatum velit expedita hic dolore temporibus iusto <span class="highlightText">saepe facere</span> dignissimos rerum sint, perspiciatis doloribus obcaecati perferendis nemo tenetur eligendi, enim quis quisquam ipsa similique eum a. Quo neque, accusantium nihil id aperiam sit.</p>
</div>

<div *ngIf="id === 2">
	<span class="publishDate">Publicado 09/09/2012</span>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae harum optio quo nulla exercitationem velit voluptatibus possimus, excepturi totam, dolor cum iste eveniet expedita, perferendis dolores tenetur! Perferendis sapiente vel veritatis et quos nemo maxime, non ratione, dignissimos eligendi rerum!</p>

	<span class="publishDate">Publicado 09/09/2012</span>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum temporibus autem pariatur veritatis animi earum quae, in praesentium nihil nostrum porro consectetur, recusandae quia inventore nesciunt ducimus dolore provident et doloremque enim aliquid numquam. Error possimus, ex. Odio, sit.</p>
</div>

<div *ngIf="id === 3">
	<ul>
		<li>Consultoría Gerencial</li>
		<li>Análisis regulatorio de políticas</li>
		<li>Investigación de Mercado</li>
		<li>Gestión de proyectos</li>
		<li>Regulación de sporte</li>
		<li>Análisis de riesgos</li>
		<li>Formación gerencial</li>
	</ul>
</div>