hr {
	width: 96%;
	border: none;
	background: #d9dadb;
	height: 2px;
	border-radius: 5px;
}

.hero {
	text-align: center;
}

.hero h1 {
	font-size: 400%;
	margin: 0px;
	font-weight: normal;
}

.hero h2 {
	font-weight: normal;
	color: gray;
	font-size: 300%;
}